.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-bottom: 10px;
  label {
    margin-bottom: 5px;
  }
  input {
    border-radius: 5px;
    border: 1px solid #807c7c;
    height: 26px;
    box-shadow: 3px 3px 3px #807c7c;
  }
}

.create-employee {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 3px solid #1e66fe;
  border-radius: 15px;
  padding: 10px 30px 15px 30px;
  width: 635px;
  box-shadow: 5px 5px 5px #807c7c;
  &__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__legend {
    font-size: 25px;
    font-weight: 600;
    color: #094fe3;
  }
}

.information {
  margin-top: 20px;
}

.adress {
  margin-left: 30px;
  &__fieldset {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(204 204 255);
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    width: 60%;
    box-shadow: 5px 5px 5px #807c7c;
  }
  &__legend {
    font-size: 18px;
    font-weight: 600;
    color: #094fe3;
  }
}

.calendar {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 5px;
  }
}

.react-date-picker {
  width: 270px;
  margin-bottom: 10px;
  .react-date-picker--open {
    z-index: 2;
  }
  &__wrapper {
    color: #807c7c;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 3px #807c7c;
  }
  &__inputGroup__input {
    color: #807c7c;
  }
}

.dropdown-container__department {
  width: 270px;
}

.btn-submit {
  width: 140px;
  font-size: 15px;
  background-color: #1e66fe;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 30px 0 10px 0;
  box-shadow: 2px 2px 5px #807c7c;
}

.errorMessage {
  font-size: 15px;
  height: 15px;
  color: red;
  margin-bottom: 10px;
}
