.homePage {
  height: 711px;
  background-color: rgb(243 243 243);
  display: flex;
  &__form {
    margin: 50px 0 0 200px;
  }
  &__view {
    margin-left: 100px;
    h1 {
      font-size: 90px;
      font-weight: 600;
      color: rgb(7 7 135);
    }
  }
}
