.employeeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  max-width: 1400px;
  h1 {
    color: rgb(7, 7, 135);
  }
}

.search {
  position: absolute;
  top: 58px;
  right: 29px;
  margin-top: 30px;
  input {
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
  }
}

.sc-dmctIK,
.WQNxq {
  overflow-x: hidden !important;
  max-width: 1350px;
}

.rdt_TableCol {
  border: 1px solid rgb(162, 160, 160);
  background-color: #1e66fe;
  color: white;
  height: 30px;
  font-size: 12px;
  min-width: 30px;
}

.rdt_TableCell {
  border: 1px solid rgb(196, 196, 196);
  min-width: 30px;
  border-bottom: transparent;
}

.rdt_TableCell,
.rdt_TableCol {
  border-top: transparent;
  border-left: transparent;
  padding: 0 10px !important;
  justify-content: start !important;
}

.rdt_TableHeadRow {
  height: 30px;
}

.rdt_TableHead {
  height: 30px;
}

.rdt_TableRow {
  border: none;
}

[data-column-id='zip_code'].rdt_TableCol {
  border-right: transparent;
  min-width: 10px;
}

[data-column-id='zip_code'].rdt_TableCell {
  border-right: transparent;
  width: 20px;
}

.sc-kDvujY,
.gnetL {
  opacity: 1 !important;
  transform: rotate(180deg);
}

.rdt_Pagination {
  width: 442px;
  margin-left: 25px;
}
